header{
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}

a{
	color: black;
	font-size: 20px;
	
}

nav{
	text-align: center;
}

h1{
	text-align: center;
}

p{
	margin-left: 200px;
	margin-right: 200px;
}

body{
	background:-webkit-radial-gradient(400px,circle,purple,blue);
}

iframe{
	padding:20px;
}